extends ../layouts/common
block content
  h1 Create Story
    if errors
      each error in errors
        .alert.alert-danger= error
    form(action="/stories/create", method="POST")
      .form-group
      select.form-control(name="author")
        if authors
          each author in authors
            option(value=author.id)=author.name
        else
             option(value="") No author
      .form-group
        label(for="name") Story Name
        input#name.form-control(name="name", type="text")
      .form-group
        label(for="content") Content Story
        textarea#content(name="content")
      button.btn.btn-primary Add Story
      .form-group
        label(for="title") Title SEO
        input#title.form-control(name="title", type="text")
      .form-group
        label(for="desc") Desc SEO
        textarea#desc(name="desc")